:root {
    --black: #070707;
    --white: #fdfdfd;
    --grey: #5a5a5a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/pattern-white.png);
    background-color: rgb(51, 51, 51);
    background-size: 60%;
}

.header {
    background-image: url(img/Riftbound01_Template-1080x1080-1.webp);
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1780px;
    color: var(--white);
    padding: 30px;
}

.info h2 {
    color: var(--black);
}
.navigation ol {
    list-style-type: none;
    padding-left: 0px;
}

.navs {
    display: inline-block;
    padding: 5px;
}

.navigation a {
    display: inline-block;
    color: var(--grey);
    text-decoration: none;
}

.navs a:hover {
    color: var(--white);
    transform: translateY(-2px);
}

footer {
    background-color: var(--grey);
    height: 150px;
    width: auto;
    text-align: center;
    padding-top: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
}

.card {
    width: 250px;
    background-color: white;
}

.cardart {
    width: 100%;
    height: auto;
    display: block;
}

.card-text {
    padding-top: 2px;
}

.card-text h2 {
    font-size: 20px;
}

.card-text h3 {
    font-size: 16px;
}

dialog.terms {
    background-color: black;
    border-color: grey;
    color: grey;
}

button.terms {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
}